MOVIES_PATH=../ml-latest/movies.csv
ALL_RATINGS_PATH=../ml-latest/ratings.csv
MY_RATINGS_PATH=../MyRatings/movielens-ratings.csv
RATINGS_PATH_BKP=../ml-latest/restoreRatingsFile/ratings.csv
GENOME_SCORES_PATH=../ml-latest/genome-scores.csv
MOVIE_TAGS_PATH=../ml-latest/tags.csv
STOPLIST_PATH=../stoplist/stoplist.txt
MY_RECCOMENDATIONS_PATH=../MyReccomendations/my-reccomendations.csv
COMPUTED_SIMILARITY_MATRIX=../LearnedMetrics/genr_sim.dat
COMPUTED_RBM_WEIGHTS=../LearnedMetrics/rbm_weights.dat
